/*home page*/
body{
    font-family: "Arial" "Helvetica", "Arial", sans-serif;
}

p{
    max-width: 960px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {

  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
  }

li{
    list-style: none;
}

h1,
h2{
    background-color: lightsalmon;
}

#hed{
    padding-top: 220px;
    padding-bottom: 220px;
    background-color: lightgreen;
}

#hed h1{
    margin-left: 100px;
    margin-right: auto;
}

nav{
    padding-left: 0px;
    padding-right: 40px;
    background-color: aliceblue;
    margin-bottom: 60px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

#na,
#nb,
#nc,
#nd{
    background-color: lightgrey;
    text-align: center;
}

#works,
#inquire{
    margin-top: 220px;
    margin-bottom: 220px;
    background-color: lightblue;
    padding: 140px;

}

#works{

}

#werkgrid{
    background-color: lightgoldenrodyellow;
    grid-area: nav;
    margin-bottom: 20px;
    margin-top: 60px;
}

.werks{
    grid-template-rows: repeat(2, 1fr);
}

.werks,
.inq{
    padding-left: 140px;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-right: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

#a,
#b,
#c,
#d,
#aa,
#bb{
    background-color: lightcyan;
    text-align: center;
    padding: 60px;

}

#abt{
    background-color: lightblue;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 220px;
}

#abt h2{
    margin-bottom: 60px;
    margin-left: 140px;
}

#abt p{
    background-color: lightgoldenrodyellow;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 60px;
    padding: 60px;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

footer p{
    margin-left: 60px;
    color: white;
}

/*collab page*/

.crahed{
    background-color: lightslategray;
    padding: 100px;
}

.cragrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

/*rand page*/

/*inq page*/
#inqgrid{
    background-color: lightgoldenrodyellow;
}