@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;800&display=swap');

body{
    font-family:"Frank Ruhl Libre", "Arial", "Helvetica", "sans-serif";
    font-weight: 400;
}

a{
    color: black;
    text-decoration: none;
    background-color: rgb(211, 239, 245);
    padding: 3% 3% 3% 3%;
    /*color: rgb(255 255 255);*/
}

a:hover{
    padding: 3% 3% 3% 3%;
    text-decoration: none;
    background-color: black;
    color: rgb(173, 216, 230);
}

a:active{

}

main{
    margin: 0% 2.5% 2.5% 2.5%;
}

header{
    background-color: rgb(173, 216, 230);
    padding: 0% 1.5% 1.5% 1.5%;
}

#drhead{
    grid-area: drhead;
}

#navhead{
    grid-area: navhead;
    padding-top: 3%
}

#flag{
    grid-area: flag;
}

.headergrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50%;
    grid-template-areas:
    "drhead navhead"
    ".         flag";
}

.navlinkgrid{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 10px;
    padding: 0;
    margin: 0;
}

#flag{
    justify-content: right;
    display: flex;
}


h1, h2, h3{
    font-family:"Frank Ruhl Libre", "Arial", "Helvetica", "sans-serif";
    font-weight: 800;
}

footer{
    background-color: rgb(212, 212, 212);
    margin: 0;
    padding: 5%;
}

.footlinkgrid{
    list-style-type: none;
    display: grid;
    grid-template-columns: 10% 10%;
}
#intro{
   background-color: rgb(211, 239, 245);
   padding: 2% 10% 2% 10%;
   /*margin-top: 2%;*/
   border-top-width: 20px;
    border-bottom-width: 20px;
   border-top-color: rgb(173, 216, 230);
   border-bottom-color: rgb(173, 216, 230);
   border-top-style: solid;
   border-bottom-style: solid;
}

#intro h2{
    margin-bottom: 4%;
}

#geo{
    margin-top: 2%;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(250, 196, 115);
    border-bottom-color: rgb(250, 196, 115);
    background-color: rgb(247, 213, 161);
    padding: 2% 10% 5% 10%;
    min-width: 900px;
}

#geo h2{
    margin-bottom: 3%;
}

#geo h3{
    background-color: rgb(250, 196, 115);
    padding: .5%;
}

#geo p{
    margin-left: 2%;
}

#size-comp{
    margin-left: 2%;
}

.gridtwo{
    display: grid;
    grid-gap: 2%;
    /*flex-direction: row-reverse;*/
}

#eco{
    margin: 2% 10% 2% 10%;
    padding: 2% 10% 6% 10%;
    background-color: rgb(211, 239, 245);
    min-width: 600px;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-top-color: rgb(173, 215, 230);
    border-bottom-color: rgb(173, 215, 230);
    border-top-style: solid;
    border-bottom-style: solid;
}

.gridthree{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 5fr 5fr;
    grid-gap: 10%;
}

#transnat{
    padding: 2% 10% 2% 10%;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(250, 196, 115);
    border-bottom-color: rgb(250, 196, 115);
    background-color: rgb(247, 213, 161);
}

#transnat h3{
    background-color: rgb(250, 196, 115);
}
 #transnat h2{
    margin-bottom: 4%;
 }

.transnatstyle{
    margin-top: 2%;
    margin-bottom: 2%;
}